aiohttp==3.7.4.post0
arboreto==0.1.6
async-timeout==3.0.1
attrs==21.2.0
bokeh==2.3.2
boltons==21.0.0
cached-property==1.5.2
certifi==2020.6.20
chardet==3.0.4
click==8.0.1
cloudpickle==1.6.0
cycler==0.10.0
cytoolz==0.11.0
dask==2.30.0
decorator==4.4.2
dill==0.3.3
distributed==2.30.0
frozendict==2.0.2
fsspec==2021.5.0
googledrivedownloader==0.4
h5py==3.2.1
HeapDict==1.0.1
icgc==0.1.3
idna==2.10
importlib-metadata==4.5.0
interlap==0.2.7
isodate==0.6.0
Jinja2==3.0.1
joblib==1.0.1
kiwisolver==1.2.0
llvmlite==0.36.0
locket==0.2.1
loompy==3.0.6
MarkupSafe==2.0.1
matplotlib==3.2.2
msgpack==1.0.2
multidict==5.1.0
multiprocessing-on-dill==3.5.0a4
networkx==2.5.1
numba==0.53.1
numpy==1.19.0
numpy-groupies==0.9.13
packaging==20.9
pandas==1.0.5
partd==1.2.0
Pillow==8.2.0
psutil==5.8.0
pyarrow==0.16.0
pyliftover==0.4
pynndescent==0.5.2
pyparsing==2.4.7
pyscenic==0.11.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.4.1
rdflib==6.0.2
requests==2.24.0
scikit-learn==0.24.2
scipy==1.6.3
six==1.15.0
sortedcontainers==2.4.0
tblib==1.7.0
threadpoolctl==2.1.0
toolz==0.11.1
torch==1.10.0
torch-cluster==1.5.9
torch-geometric==2.0.2
torch-scatter==2.0.9
torch-sparse==0.6.12
torch-spline-conv==1.2.1
tornado==6.1
tqdm==4.61.0
typing-extensions==3.10.0.0
umap-learn==0.5.1
urllib3==1.25.9
virtualenv==16.7.3
yacs==0.1.8
yarl==1.6.3
zict==2.0.0
zipp==3.4.1
